@font-face {
	font-family: 'Roboto Mono';
	font-display: fallback;
	src: local('Roboto Mono'), local('RobotoMono-Regular'), url(https://fonts.gstatic.com/s/robotomono/v6/L0x5DF4xlVMF-BfR8bXMIjhLq38.woff2) format('woff2');
}

:root {
	--font-color: #2B4459;
	--bg-color: #DAE5ED;
	--afont-color: #4865d8;
	--dbg-color: rgba(0, 0, 0, 0.1);
	--dbgh-color: rgba(0, 0, 0, 0.2);
	--dbga-color: rgba(0, 0, 0, 0.3);
}

[data-theme="dark"] {
	--font-color: #DAE5ED;
	--bg-color: #2B4459;
	--afont-color: #6afca7;
	--dbg-color: rgba(255, 255, 255, 0.1);
	--dbgh-color: rgba(255, 255, 255, 0.2);
	--dbga-color: rgba(255, 255, 255, 0.3);
}

* {
	box-sizing: border-box;
	outline: 0;
	border: 0;
}

::-webkit-scrollbar {
	width: 4px;
	height: 4px;
	border-radius: 2px;
}

::-webkit-scrollbar-thumb {
	background: var(--dbg-color);
	border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
	background: var(--dbgh-color);
}

::-webkit-scrollbar-thumb:active {
	background: var(--dbga-color);
}

::placeholder {
	color: var(--font-color);
}

::selection {
	background: #C6D5DD;
}

@keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

a {
	color: var(--afont-color);
	text-decoration: none;
}

body {
	margin: 0;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
	background-color: var(--bg-color);
	color: var(--font-color);
	width: 100%;
	height: 100vh;
	font-size: 16px;
	font-family: 'Roboto Mono', "SF Mono", "Lucida Console", Monaco, monospace;
	line-height: 2;
	animation: fadein .2s;
}

.container {
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
}

.header {
	display: flex;
	align-items: center;
	padding: 8px 16px;
	font-weight: 600;
	z-index: 1;
}

.header span {
	padding: 0 8px;
}

.tools {
	display: flex;
	flex-grow: 1;
	overflow-x: auto;
	white-space: nowrap;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.file,
button {
	font-weight: 600;
	font-family: 'Roboto Mono', "SF Mono", "Lucida Console", Monaco, monospace;
	padding: 8px 16px;
	background-color: transparent;
	color: var(--afont-color);
	cursor: pointer;
	font-size: 16px;
}

button[disabled] {
	opacity: .5;
	pointer-events: none;
}

input[type="file"] {
	display: none;
}

.theme-switch {
	display: inline-block;
	height: 16px;
	position: relative;
	width: 32px;
}

.theme-switch input {
	display: none;
}

.slider {
	background-color: rgba(0, 0, 0, 0.1);
	bottom: 0;
	cursor: pointer;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: .2s;
	border-radius: 8px;
}

.slider:hover:before {
	background: rgba(0, 0, 0, 0.2);
}

.slider:active:before {
	background: rgba(0, 0, 0, 0.3);
}

.slider:before {
	background-color: rgba(0, 0, 0, 0.1);
	bottom: 0;
	content: "";
	height: 16px;
	left: 0;
	position: absolute;
	transition: .2s;
	width: 16px;
	border-radius: 8px;
}

input:checked + .slider {
	background-color: var(--afont-color);
}

input:checked + .slider:before {
	transform: translateX(16px);
}

.content {
	display: flex;
	flex-grow: 1;
	overflow: hidden;
}

textarea {
	width: 50vw;
	height: 100%;
	resize: none;
	display: flex;
	flex-grow: 1;
	background-color: var(--bg-color);
	color: var(--font-color);
	padding: 16px;
	line-height: 2;
	font-size: 16px;
	font-weight: 600;
	font-family: 'Roboto Mono', "SF Mono", "Lucida Console", Monaco, monospace;
	z-index: 0;
}

.markdown {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	overflow: auto;
	padding: 16px;
	font-family: 'Segoe UI', 'Arial', 'Roboto', 'Noto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 4px 0;
}

h1,
h2 {
	border-bottom: 1px solid var(--dbg-color);
}

pre,
code {
	font-family: 'Roboto Mono', "SF Mono", "Lucida Console", Monaco, monospace;
	font-size: 16px;
	font-weight: 600;
	border-radius: 8px;
}

blockquote {
	border-left: 2px solid var(--dbg-color);
	padding-left: 16px;
	margin-left: 0;
}

hr {
	width: 100%;
	border: 1px solid var(--dbg-color);
}

table {
	border-collapse: separate;
	border: 1px solid var(--dbg-color);
	border-radius: 8px;
	border-spacing: 0;
}

td,
th {
	border-left: 1px solid var(--dbg-color);
	border-top: 1px solid var(--dbg-color);
	text-align: left;
	padding: 8px 16px;
}

th {
	border-top: none;
}

td:first-child,
th:first-child {
	border-left: none;
}
