:root {
	--font-color: #090821;
	--bg-color: #DAE5ED;
	--afont-color: #fc2f70;
	--dbg-color: rgba(0, 0, 0, 0.1);
	--dbgh-color: rgba(0, 0, 0, 0.2);
	--dbga-color: rgba(0, 0, 0, 0.3);
}

[data-theme="dark"] {
	--font-color: #f8f8f2;
	--bg-color: #282a36;
	--afont-color: #3cefff;
	--dbg-color: rgba(255, 255, 255, 0.1);
	--dbgh-color: rgba(255, 255, 255, 0.2);
	--dbga-color: rgba(255, 255, 255, 0.3);
}

* {
	box-sizing: border-box;
	outline: 0;
	border: 0;
}

::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}

::-webkit-scrollbar-thumb {
	background: var(--dbg-color);
}

::-webkit-scrollbar-thumb:hover {
	background: var(--dbgh-color);
}

::-webkit-scrollbar-thumb:active {
	background: var(--dbga-color);
}

::placeholder {
	color: var(--font-color);
}

::selection {
	background: #C6D5DD;
}

@keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

a {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: inherit;
	border-bottom: 2px solid var(--afont-color);
	text-decoration: none;
}

body {
	margin: 0;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
	background-color: var(--bg-color);
	color: var(--font-color);
	width: 100%;
	height: 100vh;
	font-size: 18px;
	font-family: 'Roboto Mono', "SF Mono", "Lucida Console", Monaco, monospace;
	line-height: 2;
	animation: fadein .2s;
}

.container {
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
}

header,
footer {
	display: flex;
	align-items: center;
	padding: 8px 16px;
	font-weight: 700;
	z-index: 1;
}

.tools {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-grow: 1;
	overflow-x: auto;
	white-space: nowrap;
}

.tools span {
	padding: 0 8px;
}

.file,
button {
	font-weight: 700;
	font-family: 'Roboto Mono', "SF Mono", "Lucida Console", Monaco, monospace;
	padding: 8px 16px;
	background-color: transparent;
	color: var(--afont-color);
	cursor: pointer;
	font-size: 18px;
}

button[disabled] {
	opacity: .5;
	pointer-events: none;
}

.trigger {
	cursor: pointer;
}

.modal {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .6);
	opacity: 0;
	visibility: hidden;
	transform: scale(1.05);
	transition: all .2s;
	z-index: 99;
}

.show-modal {
	opacity: 1;
	visibility: visible;
	transform: scale(1);
	transition: all .2s;
}

.modal-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--bg-color);
	padding: 16px 32px;
	max-height: 80%;
	max-width: 80%;
	border-radius: 8px;
	overflow: auto;
	filter: drop-shadow(0 4px 8px rgba(0, 0, 0, .2));
}

.close-button {
	position: fixed;
	right: 16px;
	top: 16px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 32px;
	width: 32px;
	border-radius: 50%;
	color: var(--secondary-color);
	cursor: pointer;
	transition: all .2s;
}

.close-button:hover {
	color: var(--font-color);
}

input[type="file"] {
	display: none;
}

.theme-switch {
	display: inline-block;
	height: 16px;
	position: relative;
	width: 32px;
}

.theme-switch input {
	display: none;
}

.slider {
	background-color: rgba(0, 0, 0, 0.1);
	bottom: 0;
	cursor: pointer;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: .2s;
	border-radius: 8px;
}

.slider:hover:before {
	background: rgba(0, 0, 0, 0.2);
}

.slider:active:before {
	background: rgba(0, 0, 0, 0.3);
}

.slider:before {
	background-color: rgba(0, 0, 0, 0.1);
	bottom: 0;
	content: "";
	height: 16px;
	left: 0;
	position: absolute;
	transition: .2s;
	width: 16px;
	border-radius: 8px;
}

input:checked + .slider {
	background-color: var(--afont-color);
}

input:checked + .slider:before {
	transform: translateX(16px);
}

.content {
	display: flex;
	flex-grow: 1;
	overflow: hidden;
}

#MathJax_Message {
	display: none;
}

textarea {
	display: flex;
	flex-grow: 1;
	width: 50vw;
	height: 100%;
	padding: 16px;
	resize: none;
	background-color: var(--bg-color);
	color: var(--font-color);
	line-height: 2;
	font-size: 18px;
	font-weight: 700;
	font-family: 'Roboto Mono', "SF Mono", "Lucida Console", Monaco, monospace;
	z-index: 0;
	transition: width .2s, padding .4s;
}

#editor {
	border-right: 2px dashed var(--afont-color);
}

.markdown {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	overflow: auto;
	padding: 16px;
	font-family: 'Segoe UI', 'Arial', 'Roboto', 'Noto', sans-serif;
	transition: width .2s, padding .4s;
	counter-reset: line;
}

.hljs {
	display: inline-flex !important;
}

pre .hljs {
	display: block !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 4px 0;
	counter-increment: line;
}

h1:hover::after,
h2:hover::after,
h3:hover::after,
h4:hover::after,
h5:hover::after,
h6:hover::after,
p:hover::after {
	padding-left: 8px;
	content: '¶'counter(line);
	display: inline-block;
	opacity: .5;
}

h1,
h2 {
	border-bottom: 2px solid var(--dbg-color);
}

pre,
code {
	font-family: 'Roboto Mono', "SF Mono", "Lucida Console", Monaco, monospace;
	font-size: 18px;
	font-weight: 700;
	border-radius: 8px;
}

blockquote {
	border-left: 2px solid var(--dbg-color);
	padding-left: 16px;
	margin-left: 0;
}

hr {
	width: 100%;
	border: 2px solid var(--dbg-color);
}

table {
	border-collapse: separate;
	border: 2px solid var(--dbg-color);
	border-radius: 8px;
	border-spacing: 0;
}

td,
th {
	border-left: 2px solid var(--dbg-color);
	border-top: 2px solid var(--dbg-color);
	text-align: left;
	padding: 8px 16px;
}

th {
	border-top: none;
}

td:first-child,
th:first-child {
	border-left: none;
}

img {
	max-width: 100%;
}

@media (max-width: 880px) {
	.content {
		flex-direction: column;
	}

	textarea {
		width: 100vw;
		height: calc(50vh - 57px);
	}

	#editor {
		border: 0;
		border-bottom: 2px dashed var(--afont-color);
	}

	.preview {
		display: none;
	}
}
